name: Build App

on:
  push:
    tags:
      - "v*"
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: Build App
    runs-on: macos-latest

    steps:
      - name: Setup Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: "16.1"
          
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Build App (Unsigned)
        run: |
          xcodebuild -project "Net Info.xcodeproj" \
            -scheme "Net Info" \
            -configuration Release \
            -derivedDataPath build \
            CODE_SIGN_IDENTITY="" \
            CODE_SIGNING_REQUIRED=NO \
            CODE_SIGN_ENTITLEMENTS="" \
            CODE_SIGN_STYLE="Manual" \
            DEVELOPMENT_TEAM="" \
            clean build

      - name: Ad-hoc Sign App
        run: |
          codesign --force --deep --sign - "build/Build/Products/Release/Net Info.app"

      - name: Zip App
        run: |
          cd build/Build/Products/Release
          ditto -c -k --sequesterRsrc --keepParent "Net Info.app" "Net Info.zip"

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v4.4.3
        with:
          path: build/Build/Products/Release/*.zip
          include-hidden-files: true
  release:
    needs: build
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')

    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            artifacts/**/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
